@import "./colors";
/* SVG Icons */
.icons18 {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  fill: currentColor;
}
.icons10 {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  fill: currentColor;
}
.icons15 {
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  fill: currentColor;
}
.icons26 {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
}

/* SVG Icon Colors */
.icon-primary1 {
  fill: $primary1;
}
.icon-gray {
  fill: $gray4;
}
.icon-light-gray {
  fill: $gray7;
}
.icon-white {
  fill: white;
}
/* SVG Alert Icon Colors */
.alerticons-bg-cleared {
  fill: $cleared;
}
.alerticons-bg-critical {
  fill: $critical;
}
.alerticons-bg-error {
  fill: $error;
}
.alerticons-bg-warning {
  fill: $warning;
}
.alerticons-bg-sdt {
  fill: $sdt;
}
.alerticons-bg-disabled {
  fill: $disabled;
}
.alerticons-triangle {
  fill: white;
}
.alerticons-triangle-critical {
  fill: white;
}
.alerticons-triangle-cleared {
  fill: white;
}
.alerticons-sdt {
  fill: $sdt;
}
.alerticons-acknowledged {
  fill: $primary1;
}