.lmui-staggered-enter-active, .lmui-staggered-leave-active {
  transition: all .1s ease;
  overflow: hidden;
  min-height: 24px;
}
.lmui-staggered-enter, .lmui-staggered-leave {
  opacity: 0;
  height: 0;
}
