@import "../common/scss/colors";

@mixin button-theme($bgColor, $borderBottomColor, $bgHoverColor) {
  background: $bgColor;
  border-bottom: 2px solid $borderBottomColor;

  &:hover {
    background: $bgHoverColor;
  }

  &[disabled] {
    background: $bgColor;
  }

  &:active {
    transform: translate(0, 2px);
    border-bottom: 1px solid $borderBottomColor;
  }
}
/*logicmonitor buttons*/
.lm-button, button.lm-button, a.lm-button {
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  border-radius: 2px;
  display: inline-block;
  border: none;
  outline: none;
  height: 33px;
  line-height: 33px;
  padding: 0 15px;

  &.combo-right, &.split-right {
    padding: 0 10px;
    margin-left: -2px;
  }

  &.with-right-icon {
    padding: 0 10px 0 20px;

    > .icons18, > .icons26 {
      margin-left: 5px;
    }
  }

  > .icons18, > .icons26 {
    position: relative;
    top: -1px;
  }

  &.small {
    padding-left: 7px;
    padding-right: 7px;
  }

  &.small-small {
    padding-left: 3px;
    padding-right: 3px;
    line-height: 24px;
    height: 26px;
    font-size: 14px;

    &.text-button {
      padding: 0 10px;
      height: 26px;
      line-height: 24px;
    }
  }


  &.blue {
    @include button-theme($primary1, $primary0, $primary4);
    color: white;
  }

  &.gray {
    @include button-theme($gray9, $gray2, $gray10);
    color: $gray2;
    &[disabled] {
      opacity: 0.5;
    }
  }

  &.white {
    @include button-theme(white, white, white);
    color: $primary1;
    &[disabled] {
      opacity: 0.5;
    }
  }

  &.toggle-button.active {
    @include button-theme($primary1, $primary0, $primary4);
  }

  &.animate {
    transition: all 0.1s;
  }
}

a.link-btn {
  font-weight: 500;
  cursor: pointer;
  color: $primary1;
  border-bottom: solid 1px $primary1;
  font-size: 14px;
  text-decoration: none;
}
